.error {
    color: red;
}
.contact-form form p input[type=text], .contact-form form p input[type=tel], .contact-form form p input[type=email] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}